body {
  opacity: 1;
  transition: 3s opacity;
  height: 100%;
  padding-top: 55px;
  background-color: black;
  
}
body.fade-out {
    opacity: 0;
    transition: none;
	
}
html {
    background-color: black;
}
.bg-1 { 
       background-color: #BFBFBF
 } 
.bg-2 { 
      background-color: #202020
      color: white;
}
.bg-3 {
	padding-bottom: 30px;
	padding-top: 30px;
    background-color: #BFBFBF
}

.container-fluid {
   width:70%;
    padding-bottom: 30px;
}

/* Read more - Read Less */
.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: white;
  font-size: 1em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}