body {
    opacity: 1;
    transition: 3s opacity;
    height: 100%;
    padding-top: 55px;
    background-color: black;
    background-image: url("../images/background5.jpg");
  }
  body.fade-out {
      opacity: 0;
      transition: none;
  }
  html {
      background-color: black;
      height:100%;
      background-image: url("../images/background5.jpg");
  }
.container-fluid {
    width:70%;
}

.img-size {
    width: 400px;
    height: 300px;
}
h2 {
    color:white;

}

p {
    color:white;

}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}