body {
    opacity: 1;
    transition: 3s opacity;
    height: 100%;
    padding-top: 55px;
    background-color: black;
    background-image: url("../images/background5.jpg");
  }
  body.fade-out {
      opacity: 0;
      transition: none;
  }
  html {
      background-color: black;
      height:100%;
      background-image: url("../images/background5.jpg");
  }
.container-fluid {
    width:70%;
}

.img-size {
    width: 400px;
    height: 300px;
}
h2, h4 {
    color:white;

}

p {
    color:white;

}

.text-left, .text-center {
    color: black;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}