body {
    opacity: 1;
    transition: 3s opacity;
    height: 100%;
    padding-top: 55px;
    background-color: black;
  }
  body.fade-out {
      opacity: 0;
      transition: none;
  }
  html {
      background-color: black;
      height:100%;
  }
