body {
  background-image: url("../images/background5.jpg");
  position: relative;
  opacity: 1;
  transition: 3s opacity;
  margin: 0;
  height: 100%;
  padding-top: 50px;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
html {
    background-color: black;
    background-image: url("../images/background5.jpg");
}